.App {
  text-align: center;
}

.App-logo {
  
  height: 80px;
}

.App-header {
  background-color: rgb(211, 16, 16);
  height: 100px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-intro {
  font-size: large;
}

.Game {
  margin: 20px;
  display: flex;
  justify-content: center;
}

button {
    background-color: #110f0f;
    border: 1px solid #5689db;
    border-radius: 5px;
    display: inline-block;
    color: #FFF;
    font-size: 12pt;
    padding: 7px 28px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
    max-width: 160px;
    min-width: 160px;
}

button:hover {
    background-color: rgb(99, 194, 36);
    font-size: 14pt;
}

.Board {
  display: flex;
}



.Hole {
  padding: 5px;
  margin: 1px;
  min-width: 40px;
  min-height: 40px;
  border: 4px solid rgb(0, 0, 0);

}

.Hole div {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  border-radius: 30px;
  top: -400px;
  transition: transform 0.5s;
}

.player1 {
  background-color: #8f001f;
  transform: translateY(400px);
}

.player2 {
  background-color: #a8b908;
  transform: translateY(400px);
}

.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.18, 0.99, 0.8, 1.17);
}

.appear {
  opacity: 1;
  font-size: 20pt;
}



